@model StudentInfoModel[]
<style>
.student-table {
    width: 100%
}
.student-table th {
border: 1px solid #9c9c9c;
padding: 8px 12px;
background: #ffd7d7;
}
.student-table td {
padding: 4px 8px;
border: 1px solid #d6d6d6;

}
img {
width: 1000px;
 display: block;
  margin-left: auto;
  margin-right: auto;
}
.headers{
    text-align: center;
}
table {
    background-color: #eeeeeefd;
    width: 35%;
    text-align: center;
}
.center {
  text-align: center;
}

</style>

<h1 class="headers">Sample Student Information</h1>
<div class="center">
    <button class="tons" id="buttonsss">CLICK MEEE :D</button>
    </div>
    <br>
<table border="1" class="student-table" id="Tb">
    <thead>
        <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Age</th>
            <th>Grades</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.StudentId</td>
                <td>@student.StudentAge</td>
                <td>@student.StudentGrade</td>
            </tr>
        }
    </tbody>
</table>
<br>
<br>
<div>
    <audio loop id="ms" src="~/music/videoplayback.mp3"></audio>
</div>

<script>
document.getElementById("buttonsss").addEventListener("click", function () {
        var audio = new Audio("/music/videoplayback.mp3");
        audio.volume = 0.1;
        audio.play();
        document.getElementById("buttonsss").disabled = true;
        })
        
//NO PAUSE, Enjoy Fitgirl's repack music :D
</script>